.wrapper {
  /* background-color: gray; */
  max-width: 768px;
  margin: 0 auto;
}
canvas#display {
  width: 176px;
  height: 176px;
  border-style: solid;
  border-width: thin;
  background-color: gray;
}
input[type='text'],
input[list='myText'],
input[type='number'],
input#myfont {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
select#idTemplate,
input[type='file' ],
input[type='button'],
input[type='submit'],
input[type='reset'],
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  min-width: 12em;
}
select#idTemplate {
  padding: 1em;
}

div#file-div-container {
  height: 3em;
}
input[type='file'] {
  clip: rect(0, 876px, 50px, 108px);
  position: absolute;
  overflow: hidden;
  margin-left: -108px;
  width: 876px;
}
/* input[type='file']:before {
  content: '<div style="position:relative">';
}
input[type='file']:after {
  content: '</div>';
} */
input[type='range'] {
  width: 50%;
}
input#colorId {
  width: 100%;
  border: none;
  height: 48px;
}

.preview {
  background-color: gray;
}
